h1 {
    color: black;
    margin: 0;
    margin-bottom: 0;
  }
  li {
    list-style: none;
    font-size: 15px;
    height: 19px;
    padding: 0 auto;

  }
  li.firstletter {
    text-transform: capitalize;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  
  .temperature {
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    color: #7a7ac7;
  }
  .units {
    position: relative;
    top: -8px;
  }
  footer {
    text-align: center;

  }

  .Weather-App-Wrapper {
    max-width: 900px;
     margin: 30px auto;
     

   }
   .Weather-App {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 30px;
    background-color: rgb(152, 112, 196);
    
    
}